@import url("https://fonts.googleapis.com/css?family=Sen");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);
*,
*::before,
::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  color: #383034;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Sen", sans-serif;
  text-align: center;
  line-height: 1.5;
  background: #f8f8f8;
  color: #383034;
}

h1 {
  font-size: 2.5rem;
  font-family: "Sen", sans-serif;
  font-weight: 900;
  color: #383034;
}

h2 {
  font-size: 1.1rem;
  font-family: "Sen", sans-serif;
  font-weight: normal;
  color: #383034;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.1;
  color: #383034;
}

p {
  font-size: 0.98rem;
  line-height: 1.1;
  color: #383034;
}

main {
  padding: 12vh 0;
}

.linktree-nav {
  margin: 40px auto 0;
  width: 95%;
  max-width: 700px;
}

.linktree-nav ul {
  display: grid;
  gap: 1rem;
  list-style: none;
}

.linktree-nav a {
  text-decoration: none;
  color: inherit;
}

.linktree-box {
  display: flex;
  align-items: center;
  text-align: start;
  padding: 12px 12px;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  background: #fff;
}

.linktree-box .icon-box {
  --scale: 56px;
  width: var(--scale);
  height: var(--scale);
  font-size: 1.25rem;
  background: hsl(var(--color), 30%);
  color: hsl(var(--color));
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 16px;
}

@media (min-width: 600px) {
  .linktree-nav ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

.header-social-icons {
  width: 350px;
  display:block;
  margin: 0 auto;
}
.social-icon {
  color: #fff;
}
ul.social-icons {
  margin-top: 10px;
}
.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
}
.fa-instagram {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #383034;
}
.fa-instagram:hover {
  background-color: #bc2a8d;
}

.fa-tiktok {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #383034;
}
.fa-tiktok:hover {
  background-color: #25F4EE;
}

.fa-youtube {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #383034;
}
.fa-youtube:hover {
  background-color: #FF0000;
}

.fa-facebook-f {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #383034;
}
.fa-facebook-f:hover {
  background-color: #4267B2;
}

.fa-twitter {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #383034;
}
.fa-twitter:hover {
  background-color: #1DA1F2;
}
