<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - vue.js - order and filter list animation</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app" v-cloak>
	<div class="search">
		<div class="icon">
			<div class="circle"></div>
			<div class="bar"></div>
		</div>
		<div class="search-input">
			<input type="text" placeholder="Search..." v-model="searchQuery">
		</div>
	</div>
	<div class="table-container">
		<table>
			<thead>
				<tr>
					<th class="small center" @click="sort('position','asc')">#</th>
					<th class="medium center"></th>
					<th class="large" @click="sort('teamName','asc')">Club</th>
					<th class="medium center" @click="sort('points','asc')">Pts</th>
					<th class="medium center" @click="sort('goalDifference','desc')">Diff</th>
				</tr>
			</thead>
			<tbody name="fade-list" is="transition-group">
				<tr v-for="team in filteredBySearch" :key="team.position">
					<td class="small center">{{team.position}}</td>
					<td class="medium"><img :src="team.crestURI" alt=""></td>
					<td class="large">{{team.teamName }}</td>
					<td class="medium center">{{team.points}}</td>
					<td class="medium center">
						<i v-if="team.goalDifference>0">+</i>{{team.goalDifference}}
					</td>
				</tr>
			</tbody>
		</table>
		<div class="warning" v-if="filteredBySearch.length<=0">
			<span>No results found.</span>
		</div>
	</div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js'></script>
<script src='https://codepen.io/ClementRoche/pen/OrGaMg.js'></script><script  src="./script.js"></script>

</body>
</html>
