@import url("https://fonts.googleapis.com/css?family=Sen");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);

body {
  background: #FFE01B;
  font: 400 14px "Calibri", "Arial";
  padding: 20px;
  color:#000;
}

.search {
	width: 100%;
	position: relative;
	display: flex;
}
  
.searchTerm {
	width: 90%;
  border: 3px solid #1216F2;
	border-right: none;
	padding: 5px;
	height: 20px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #000;
}
  
.searchTerm:focus{
	color: #000;
}
  
.searchButton {
	width: 40px;
	height: 36px;
	border: 1px solid #1216F2;
	background: #1216F2;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #1216F2;
  font-size: 16px;
  color:#fff;
}
table tbody tr {
  height: 48px;
  border-bottom: 1px solid #E3F1D5;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}

@media screen and (max-width: 35.5em) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
    background: #FFE01B;
    vertical-align: middle;
  }

  table thead tr {
    background: #FFE01B;
    vertical-align: middle;
  }

  table tbody tr {
    height: auto;
    padding: 8px 0;
    vertical-align: middle;
  }
  table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
    vertical-align: middle;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
    vertical-align: middle;
  }
  table tbody tr td:nth-child(1):before {
    content: "Nama Kantor Pajak";
  }
  table tbody tr td:nth-child(2):before {
    content: "Kode KPP";
  }
  table tbody tr td:nth-child(3):before {
    content: "Wilayah Kerja";
  }
  table tbody tr td:nth-child(4):before {
    content: "Media Sosial";
    vertical-align: middle;
  }
  table tbody tr td:nth-child(5):before {
    content: "Box Type";
  }
}
 